	form {
	    background-color: black;
	}
	
	input[type="text"] {
	    background-color: black;
	    width: 100px;
	    height: 40px;
	    color: green;
	    text-align: right;
	    border: 1px solid;
	}
	
	input[type="button"] {
	    width: 60px;
	    border: 0px;
	    height: 60px;
	    color: green;
	    background-color: black;
	}
	
	button {
	    width: 120px;
	    border: 0px;
	    height: 60px;
	    color: green;
	    background-color: black;
	    font-style: bold;
	    font-family: 'Courier New', Courier, monospace;
	    font-size: 20px;
	    border: 1px solid;
	}
	
	body {
	    background-color: #000000;
	    color: green;
	    font-style: bold;
	    font-family: 'Courier New', Courier, monospace;
	}
	
	hr {
	    border: 1px solid;
	    color: green;
	}