	form {
    background-color: black;
}

input[type="text"] {
    background-color: black;
    width: 300px;
    height: 30px;
    color: green;
    text-align: right;
    border: 1px solid;
}

input[type="button"] {
    width: 100px;
    border: 0px;
    height: 30px;
    color: green;
    background-color: black;
}

button {
    width: 120px;
    border: 0px;
    height: 34px;
    color: green;
    background-color: black;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: 1px solid;
}

body {
    background-color: #000000;
    color: green;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
}

a:visited,
a:link,
a:active,
a:hover {
    background-color: #222;
    color: green;
}

hr {
    border: 1px solid;
    color: green;
}
